# Ignore YAML files
*.yaml
*.yml
*.html

# Ignore log files
*.log
*.json

# Ignore image files
*.jpg
*.jpeg
#*.png
*.gif
*.bmp
*.tiff
*.webp

.DS_Store

*.tgz
*.tar.gz
*.pth

*.ALXPRO.*

*.wandb

*.pdf

requirements.txt

*.meta